<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hand made haven</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
             <img src="./assets/static/logo.png" class="logo"  alt="log of handmade haven">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Join us</a></li>
                    <li><a href="">cart</a></li>
                    <li><a href="">Sign in</a></li>
                </ul>
            </nav>
            <label><input type="text" placeholder="search..."/><button class="search">search</button></label>
        </header>
        <main>
          <h1>
              Handmade <span class="theme-main">Haven</span> crafts.
          </h1>
          <section class="company-info">
            <article>
              <h2>Company Overview</h2>
               <p>
                 Welcome to Handmade Haven,
                 your go-to destination for discovering exceptional handmade crafts from talented artisans around the world.
                 Our mission is simple: 
                 to connect you, 
                 our valued customers, 
                 with a vibrant community of makers,
                 providing you with unique and high-quality products that are both beautiful and meaningful.
                <a href="join-us.html">Join us</a>
              </p>
            </article>
            <article>
              <h2>Our Story</h2>
               <p>
                 Handmade Haven was born out of a deep passion for preserving the art of handcraftsmanship. 
                 We believe that every handmade item is a testament to the skilled hands and creative minds that brought it to life. 
                 Our journey began with a vision to create a warm and inviting space where you can explore the beauty and authenticity of handmade goods, 
                 while supporting the artisans who pour their hearts into their creations.
              </p>
            </article>
            <article>
              <h2>Company Overview</h2>
               <p>
                  At the heart of Handmade Haven are our core values of quality,
                  authenticity,
                  and sustainability. 
                 We are committed to curating a diverse collection of handmade products that not only meet the highest standards of craftsmanship but also reflect the unique stories and techniques of the artisans behind them.
                 We believe in supporting local communities, 
                 promoting eco-friendly practices,
                 and fostering a deep appreciation for the art of handmaking.
              </p>
            </article>
          </section>
          <section class="our-team">
            <h2>Our team</h2>
            <article>
            <figure>
              <img src="./assets/static/john.jpg" class="img-1" alt=""/>
              <figcaption>
                <hgroup>
                  <h3>
                John Doe
                </h3>
                  <p>Co-founder</p>
                </hgroup>
              <p>
                John has been  small business owner for the last three years,
                He is an expert mountain climber passionte about aesthetics especially involving crafts and other rt forms.
              </p>
              </figcaption>
        </figure>
            <figure>
              <img src="./assets/static/jane.jpg" class="img-1" alt=""/>
              <figcaption>
                <hgroup>
                  <h3>
                Jane Doe
                </h3>
                  <p>Co-founder</p>
                </hgroup>
              <p>
                Jane has a background in marketing,
                She is an expert web developer passionte about designing simplisti,aesthetically pleaing user interfaces.
                In her free she`s normally playing basket ball.
              </p>
              </figcaption>
        </figure>
            <figure>
              <img src="./assets/static/jonathan.jpg" class="img-1" alt=""/>
              <figcaption>
                <hgroup>
                  <h3>
                Jonathan Doe
                </h3>
                  <p>Team leader</p>
                </hgroup>
              <p>
                Jonathan is a successful archeologist,
                whose major hobby is collecting unique hand crafts like the ones at hand made haven,
                He is a father of four and a talented pianist.
              </p>
              </figcaption>
        </figure>
        <figure>
              <img src="./assets/static/jonas.jpg" class="img-1" alt=""/>
              <figcaption>
                <hgroup>
                  <h3>
                Jonas Doe
                </h3>
                  <p>Team leader</p>
                </hgroup>
              <p>
                Jonas is a selfmade billionare,
                whose major hobby is buying and testing Tesla`s newest Electric vehicles,
                He is a high schooler and a talented Sculpter.
              </p>
              </figcaption>
        </figure>
          </article>
          </section>
          <section class="testimonial-section">
    <h2 class="sr-only">testimonials section</h2>
            <section class="testimonials" >
    <article class="article-sarah">
      <div class="image-container">
        <img src="./assets/static/irene.jpg" alt="Irene">
      </div>
      <h3 class="personal-info">
       <span class="name">Irene</span>
        <span class="seller">Glass artist</span>
      </h3>
      <blockquote>
         Working with this handmade haven has been a game-changer for my small artisan business. 
        They have helped me reach a wider audience and sell my handcrafted products with ease. 
        The support and guidance I’ve received have been invaluable.”
      </blockquote>
    </article>
    <article class="article-julia">
      <div class="image-container">
        <img src="./assets/static/julia.jpg" alt="julia">
      </div>
      <h3 class="personal-info">
       <span class="name">Julia</span>
        <span class="buyer">frequent buyer</span>
      </h3>
      <blockquote>
         “I’m so glad I discovered this website. 
        As a lover of all things handmade, 
        I’ve found a treasure trove of unique, 
        high-quality products created by talented artisans from around the world.
        The selection is incredible,
        and the buying experience is always smooth and enjoyable.”
      </blockquote>
    </article>
   <article class="article-michael">
      <div class="image-container">
        <img src="./assets/static/michael.jpg" alt="Daniel Clifford">
      </div>
      <h3 class="personal-info">
       <span class="name">Michael</span>
        <span class="seller">Furniture maker</span>
      </h3>
      <blockquote>
         “As a local woodworker, 
        I was hesitant to sell my pieces online. 
        But this platform has made the process seamless.
        The team is responsive, and they truly understand the needs of artisans like myself. 
        I’ve seen a significant increase in sales since partnering with them.” 
      </blockquote>
    </article>
    <article class="article-david">
      <div class="image-container">
        <img src="./assets/static/david.jpg" alt="Daniel Clifford">
      </div>
      <h3 class="personal-info">
       <span class="name">David</span>
        <span class="verified-seller">Occasional buyer</span>
      </h3>
      <blockquote>
          “This company has become my go-to source for one-of-a-kind gifts. 
        I’ve found so many beautiful, 
        meaningful items that I know my friends and family will cherish. 
        The ability to connect directly with the makers and learn about their stories makes the purchasing experience even more special.”
      </blockquote>
    </article>
    <article class="article-sarah">
      <div class="image-container">
        <img src="./assets/static/sarah.jpg" alt="Sarah">
      </div>
      <h3 class="personal-info">
       <span class="name">Sarah</span>
        <span class="verified-seller">Ceramic artist</span>
      </h3>
      <blockquote>
         Working with this handmade haven has been a game-changer for my small artisan business. 
        They have helped me reach a wider audience and sell my handcrafted products with ease. 
        The support and guidance I’ve received have been invaluable.”
      </blockquote>
    </article>
    </article>
  </section>
          <section class="contact">
            <h2>Contact and engagement</h2>
            <p>
              We warmly invite you to connect with us and become a part of the Handmade Haven community.
              Whether you have a question, feedback,
              or simply want to share your own craft projects,
              we encourage you to reach out to us at <a href="mailto:hello@handmadehaven.com"> hello@handmadehaven.com</a> or through our social media channels.
              We’re here to help you discover the beauty and joy of handmade crafts, and we look forward to hearing from you.
            </p>
          </section>
        </main>
        <footer>
            <div class="footer-nav">
                <a href="#about">About</a>
                <a href="#projects">projects</a>
                <a href="#contact">contact</a>
                <a id="back-top" href="#top">back to top</a>
            </div>
            <p>&copy;2024 code-Buddies.All rights reserved</p>
        </footer>
        <script src="" async defer>
      </script>
</body>
</html>
