<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hand made haven</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
             <img src="logo.png" class="logo"  alt="log of handmade haven">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Join us</a></li>
                    <li><a href="">cart</a></li>
                    <li><a href="">Sign in</a></li>
                </ul>
            </nav>
          <label><input type="text" placeholder="search..."/><button class="search">search</button></label>
        </header>
        <main>
          <h1>
              Handmade <span class="theme-main">Haven</span> crafts.
          </h1>
            <section>
              <h2>Join us</h2>
               <section>
                 <article>
                 <h3>Why join Handmade Haven</h3>
                   <p>
                    Handmade Haven is a vibrant community where talented artisans showcase exceptional craftsmanship and customers discover unique, 
                     high-quality handmade goods.
                     Join our close-knit network of makers and shoppers committed to celebrating the art of creation.
                   </p>
                <a href="join-us.html">Join us</a>
                 </article>
                 <article>
                   <img src="" alt="dedicated">
                   <h3>Crafted just for you</h3>
                   <p>Handmade haven is a dedicated platform specifically designed to showcase and promote unique handmade creations by talented artisans.</p>
                 </article>
                 <article>
                   <img src="" alt="Global audience">
                   <h3>Global reach,Local love </h3>
                   <p>As an artisan, 
                     join our platform and share your unique, high-quality handmade products with a worldwide audience eager to discover your exceptional work.</p>
                 </article>
                 <article>
                   <img src="" alt="Discover">
                   <h3>Discover Extraordinary Crafts </h3>
                   <p>Explore our vibrant community of artisans and uncover a treasure trove of one-of-a-kind, handcrafted items that will delight and inspire you</p>
                 </article>
                 <article>
                   <img src="" alt="customer support">
                   <h3>Exceptional customer care: We’re Here for You </h3>
                   <p>Whether you’re an artisan or a customer, 
                     our team is always available to address your questions and concerns,
                     ensuring a seamless experience.</p>
                 </article>
              </section>
            </section>
          <section>
            <h2>Join us</h2>
            <form id="registration-form">
              <label>First name <input id="first-name"></label>
              <label>Last name <input id="last-name"></label>
              <label>Email <input type="email" id="email"></label>
              <p>
                <span>Category</span> 
                <label><input type="radio" name="radio"  id="buyer" >Buyer</label>
                <label><input type="radio" name="radio"  id="seller" >Seller</label>
              </p>
              <label><input type="checkbox" id="consent"> I have read and accept all terms and conditions</label>
              <input type="submit" name="submit" placeholder="submit">
            </form>
          </section>
          
        </main>
        <footer>
            <div class="footer-nav">
                <a href="#about">About</a>
                <a href="#projects">projects</a>
                <a href="#contact">contact</a>
                <a id="back-top" href="#top">back to top</a>
            </div>
            <div class="quick-links">
                <a href="#">Terms and conditions</a>
                <a href="">Privacy policy</a>
                <a href="">Customer care</a>
                <a href="">Affiliate program</a>
            </div>
            <p>&copy;2024 code-Biddies.All rights reserved</p>
        </footer>
</body>
</html>
